MAILDIR = "$HOME/mail"
DEFAULT = "$MAILDIR/"
FOLDER1 = "$MAILDIR/folder1/"
FOLDER2 = "$MAILDIR/folder2/"
JUNK = "$MAILDIR/junk/"

### variable can not use - (hyphen) ###

if (/^From:.*@folder1.com.*/:h)
{
    to $FOLDER1
}

if (/^From:.*@folder2.com.*/:h)
{
    to $FOLDER2
}

if (/^From:.*@junk.com.*/:h)
{
    cc $JUNK
    `for m in ${JUNK}new/*; do mv $m ${JUNK}cur/${m##*/new/}:2,S; done`
    exit
}

to $DEFAULT
